@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

:root {
    --cor-destaque: #800D0B;
    --cor-complementar: #0B7E80;
    --cor-principal: #000;
    --cor-texto: #f8f8f8;

}


* {
    margin: 0;
    padding: 0;

}


body {
    background-color:var(--cor-principal);
    color: var(--cor-texto);
    /* height: 100vh; */
    box-sizing: border-box;
}

.textoDestaque {
    color: var(--cor-destaque)
}

.cabesalho {
    text-decoration: none;
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    padding: 0.5% 0% 0% 9%;
}


.cabesalho-menu {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    gap: 30px;
}


.cabesalho-menu-links {
    text-decoration: none;
    color: var(--cor-principal);

}