@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --cor-destaque: #800D0B;
    --cor-complementar: #0B7E80;
    --cor-principal: #000;
    --cor-texto: #f8f8f8;

}

* {
    margin: 0;
    padding: 0;

}


body {
    background-color:var(--cor-principal);
    color:var(--cor-texto);
    /* height: 100vh; */
    box-sizing: border-box;
}


.cabesalho {
    text-decoration: none;
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    padding: 0.5% 0% 0%;
}


.cabesalho-menu {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    gap: 30px;
}


.cabesalho-menu-links {
    text-decoration: none;
    color: var(--cor-texto);

}


.titulo-destaque {
    color: var(--cor-destaque);
}


/*coisas q eu tenho q retirar dps*/
/*fazer clasces para o h1 e substituir o span*/
h1{
    font-weight: bold;
    text-align: center;
}

span{
    color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
    padding: 10px;
}


.apresentaçao {
    margin: 3% 9%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}


.apresentaçao__pessoal {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 1600px;
    height: 269px
}


.apresentaçao__pessoal__links {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;

}


.apresentaçao__pessoal__links__link {
    text-decoration: none;
    color:var(--cor-texto);
    background-color:var(--cor-destaque);
    width: 165px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 16.5px 0px;
    
}


.apresentaçao__mundos {
    width: 400px;
    height: 200px;
}

.apresentaçao__mundos__introduçao {
    font-size: 18px;
    
}


.rodape {
    padding: 8px;
    color: var(--cor-texto);
    background-color:var(--cor-destaque);
    text-align: center;

}